<!DOCTYPE html>
<html>
  <head>
    <title><%= fetch_title.present? ? fetch_title + ' | ' : '' %><%= t('site_title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if login_layout? %>
    <%= render 'layouts/login_layout' %>
  <% else %>
    <body>
      <% if current_user.present? %>
        <%= render 'layouts/sidebar' %>
        <%= render 'layouts/breadcrumb' %>

        <div class='d-flex align-items-stretch'>
          <%= render 'layouts/navigation', left_navigation: true %>
          <div class='p-2 flex-grow-1'>
            <%= yield %>
          </div>
        </div>

        <%= render 'layouts/navigation' %>
      <% elsif controller_name == 'pages' && action_name == 'home' %>
        <%= yield %>
      <% else %>
        <%= render 'layouts/navbar_not_logged_in' %>
        <%= yield %>
      <% end %>
      <%= render 'layouts/flash_notice_alert' %>
    </body>
  <% end %>
</html>
